#navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(47, 106, 216);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    overflow-x: hidden;
    padding-top: 6px;
}

